@using BookMe.Web.Resources
@{
    ViewBag.Title = @Strings.AddClub;
}

<div class="row">
    <div class="col-md-2">
        <!-- Sidebar -->
        @Html.Partial("_SideMenu")
    </div>
    <div class="col-md-10">
        @Html.Partial("_AddClubForm")
    </div>
</div>