@{
    ViewBag.Title = "Schedule";
}

@Styles.Render("~/Content/schedule")
@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/schedule")


<div class="container">
    @Html.Partial("_Calendar")
</div>


